##### Primary configuration settings #####
##########################################
# This configuration file is used to manage the behavior of the Salt Minion.
# With the exception of the location of the Salt Master Server, values that are
# commented out but have an empty line after the comment are defaults that need
# not be set in the config. If there is no blank line after the comment, the
# value is presented as an example and is not the default.

# Per default the minion will automatically include all config files
# from minion.d/*.conf (minion.d is a directory in the same directory
# as the main minion config file).
default_include: {{SALT_MINION_CONFS_DIR}}/*.conf

# Set the location of the salt master server. If the master server cannot be
# resolved, then the minion will fail to start.
master: 0.0.0.0

# Set the port used by the master reply and authentication server.
master_port: 4506

# The user to run salt.
user: root

# The directory to store the pki information in
pki_dir: {{SALT_MINION_KEYS_DIR}}

# Explicitly declare the id for this minion to use, if left commented the id
# will be the hostname as returned by the python call: socket.getfqdn()
# Since salt uses detached ids it is possible to run multiple minions on the
# same machine but with different ids, this can be useful for salt compute
# clusters.
id: {{SALT_MINION_ID}}

# Where cache data goes.
# This data may contain sensitive data and should be protected accordingly.
cachedir: {{SALT_CACHE_DIR}}/minion


#####        Security settings       #####
##########################################
# Fingerprint of the master public key to validate the identity of your Salt
# master before the initial key exchange. The master fingerprint can be found
# as master.pub by running "salt-key -F master" on the Salt master.
master_finger: {{SALT_MASTER_FINGERPRINT}}

# Enables verification of the master-public-signature returned by the master
# in auth-replies.
verify_master_pubkey_sign: {{SALT_MASTER_SIGN_PUBKEY}}


#####         Logging settings       #####
##########################################
# The location of the master log file
log_file: {{SALT_LOGS_DIR}}/salt/minion

# The level of messages to send to the console.
# One of 'garbage', 'trace', 'debug', info', 'warning', 'error', 'critical'.
#
# The following log levels are considered INSECURE and may log sensitive data:
# ['garbage', 'trace', 'debug']
#
log_level: {{SALT_LOG_LEVEL}}

# The level of messages to send to the log file.
# One of 'garbage', 'trace', 'debug', info', 'warning', 'error', 'critical'.
# If using 'log_granular_levels' this must be set to the highest desired level.
log_level_logfile: {{SALT_LEVEL_LOGFILE}}
