# Ignoring git folders and files
.github/
.git/
.gitignore

# Ignoring tests files
tests/

# Ignoring markdown files and documentation
*.md
docs/

# Ignoring social media
social/

# Ignore IDEs
.idea/
.vscode/
.editorconfig
.shellcheckrc
Makefile
