# Check shellcheck wiki at:
# https://github.com/koalaman/shellcheck/wiki/SCXXXX

external-sources=true

# Allow following non-constant source
disable=SC1090

# Redirections are performed by the current shell before sudo is started.
disable=SC2024

# foo appears unused. Verify it or export it.
disable=SC2034

# Double quote array expansions to avoid re-splitting elements.
disable=SC2068

# Use start_container_and_wait "$@" if function's $1 should mean script's $1
disable=SC2119

# Argument mixes string and array.
disable=SC2145

# Declare and assign separately to avoid masking return values.
disable=SC2155

# This redirection doesn't have a command.
disable=SC2188

# This is a file redirection.
disable=SC2210

# This function is invoked in an 'if' condition so set -e will be disabled.
disable=SC2310
