name: Lint Code

on:
  pull_request:
    branches:
      - master

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Lint code base
        uses: github/super-linter@v3
        env:
          VALIDATE_DOCKERFILE_HADOLINT: true
          VALIDATE_BASH: true
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
